// Specific CSS for your home-page
.header {
  display: flex;
  height: 100vh;
}
.social-media{
  width: 24px;
  height: 116px;
  justify-self: end;
  margin-right: 34px;
  align-self: center;
  margin-bottom: 2px;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
  right: 0;
  position: absolute;
  list-style: none;

  a {
    padding-top: 75px;
    color: #000;
  }

}

.header-content{
  width: 50%;
}
.white {
  background-color: #ffff;
}

.green {
  background-color: #cbdbc5;
}

.header-img {
  width: 847px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  margin-left: 60px;
  margin-top: 60px;
  border: 15px  solid #FFFF;
  z-index: 100;
}

.header-text {
  padding: 40px;
  position: absolute;
  border: 15px solid #FFFF;
  z-index: 200;
  background-color: gainsboro;
  width: 431px;
  height: 379px;
  top: 230px;
  left: 780px;

  a{
    text-decoration: none;
    color: #6B6B6B;
  }
}

.content-text{
  margin-bottom: 45px;
}


.first-h1 {
  line-height: normal;
  color: #6B6B6B;
  font-weight: bold;
  letter-spacing: -2px;
  vertical-align: baseline;
  line-height: normal;

}

.second-span{
  color: #000;
}
