// Specific CSS for your home-page
.header {
  display: flex;
  height: 100vh;
}

.header-content{
  width: 50%;
}
.white {
  background-color: #ffff;
}

.green {
  background-color: #cbdbc5;
}

.header-img {
  width: 847px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  left: 60px;
  top: 145px;
  border: 15px  solid #FFFF;
  z-index: 100;
}
.hover-img {
  background-color: transparent;
  width: 847px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  left: 60px;
  top: 145px;
  border: 15px  solid #FFFF;
  z-index: 110;
  transition-duration: 1s;
}
.hover-img:hover {
  background-color: white;
  opacity: 0.2;
  transition-duration: 1s;
}
.header-text {
  padding: 40px;
  position: absolute;
  border: 15px  solid #FFFF;
  z-index: 200;
  background-color: gainsboro;
  width: 455px;
  height: 415px;
  top: 230px;
  left: 780px;

  a{
    text-decoration: none;

  }
}

.content-text{
  margin-bottom: 45px;
}


.first-h1 {
  line-height: normal;
  color: #6B6B6B;
  font-weight: bold;
  letter-spacing: -2px;
  vertical-align: baseline;
  line-height: normal;

}

.second-span{
  color: #000;
}
