// Specific CSS for your home-page
.header {
  display: flex;
  height: 100vh;
}

.header-content{

  width: 50%;
}
.white {
  background-color: #ffff;
}

.green {
  background-color: #cbdbc5;
}

.header-img {
  width: 847px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  margin-left: 60px;
  margin-top: 60px;
  border: 15px  solid #FFFF;
  z-index: 100;
}

.header-text {
  padding: 40px;
  position: absolute;
  border: 15px  solid #FFFF;
  z-index: 200;
  background-color: gainsboro;
  width: 415px;
  height: 455px;
  top: 230px;
  left: 780px;
}

.content-text {
  h1{
    font-size: 60px;
    .grey{
      color: #6B6B6B;
    }
  }

}
