.prestationspage {
  background-color: $greenapp;
  font-family: $footer-font;
  font-size: 16px;
}

.prest-page {
  padding: 20px 0;
}
.category{
  margin-top: 50px ;
  .nav-tabs{
    border: 0;
    .nav-item{

      .nav-link{
          color: #586A54;
          font-family: $footer-font;
          font-size: 18px;
          border-bottom: solid 1px #A9B6A5;
          &:hover{
            border: 0;
            border-bottom: solid 1px #A9B6A5;
          }
      }
      .nav-link:none{
        border: 0;
        border-bottom: solid 1px #A9B6A5;
      }
    .active{
      color: #212121;
      background-color: transparent;
      border: 0;
      border-bottom: solid 2px #212121;
      &:hover{
        border: 0;
        border-bottom: solid 2px #212121;
      }
    }
    }
}
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin-bottom: 15px;
  }
  .titleprest{
    font-family: $font-footer;
    font-size: 22px;
    font-weight: bold;
  }
}

.prestations {
  text-align: center;
  padding: 50px 10px;
  h1{
    font-size: 36px;
    font-family: $font-footer;
  }
}
