<div class="footer">
  <%# Header of the Footer %>
  <div class="header-footer">
    <h3>CONTACT</h3>
    <div class="btn-footer">
      <%= link_to 'Prendre rendez-vous', contact_path, class: 'a-footer' %>
      <%= link_to contact_path do %>
      <%= image_tag('svg-components/arrow-rdv.svg', class: 'arrow') %>
      <% end %>
    </div>
  </div>
  <%# Body of the Footer %>
  <div class="body-footer">
  <%# Info section %>
    <div class="infos-footer">
      <div class="address">
        <h4>ADRESSE</h4>
        <p>15 rue du château <br> 75001 Paris, France</p>
        <h4>CONTACT</h4>
        <p>01 23 45 67 89 <br> info@monsite.fr</p>
      </div>
  <%# Schedule of the institut %>
      <div class="schedule">
        <h4>HORAIRES D'OUVERTURE</h4>
        <p>LUN-Ven:<br> 10H-19h</p>
        <p>Sam-Dim :<br> 11h - 16h </p>

      </div>
    </div>

    <div class="form-footer">
      <%#= simple_form_for(@contact) do |f| %>
        <%#= f.input :name, placeholder: "Nom"%>
        <%#= f.input :email, placeholder: "Email" %>
        <%#= f.input :content, placeholder: "Message" %>
        <%#= f.submit 'Envoyer', class: 'btn-send' %>
      <%# end %>
    </div>
  </div>
  <%# Footer of the Footer %>
  <div class="footer-footer">

  </div>
</div>
