<nav class="nav-container">
  <div class="logo">
    <h3>Institut Moula</h3>
  </div>
    <div class="menu">
      <ul>
        <li><%= link_to 'Acceuil', root_path  %></li>
        <li><%= link_to 'Prestation', prestations_path  %></li>
        <li><%= link_to 'À Propos', about_path  %></li>
        <li><%= link_to 'Blog', articles_path  %></li>
      </ul>
    </div>
      <div class="search">
        <input type="text" placeholder="Recherche">
      </div>
</nav>
