<div class="navbar">
  <div class="container nav">
    <div class="logo">
      <h1>Institut Moula</h1>
    </div>
    <div class="menu">
      <ul>
        <li>Acceuil</li>
        <li>Prestations</li>
        <li>À Propos</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="search">
      <p>recherche</p>
    </div>
  </div>
</div>
