<header class="header">
  <div class="header-text">

      <h1>Bienvenue à l'institut de Beauté Moula</h1>
      <p>
        Nous sommes là pour tous vos besoins de beauté
      </p>
      <button>Reserver</button>
  </div>
</header>
