<header class="header">
  <%# <div class="header-text">
      <h1>Bienvenue à l'institut de Beauté Moula</h1>
      <p>
        Nous sommes là pour tous vos besoins beauté
      </p>
      <button>Reserver</button>
  </div> %>

  <div class="header-content white">
    <%= image_tag "https://res.cloudinary.com/do9ctd3bd/image/upload/v1657299255/d99169_4713498713044ad7bf124ab3d6b0c51c_mv2_d_3840_5760_s_4_2_1_b0e0h0.webp", class:"header-img" %>
  </div>
  <div class="header-content green">
    <div class="header-text">
      <div class="context-text">
        <h1 class='grey'>NOUS CHANGEONS LE</h1>
        <h1>MONDE UN OEIL À LA FOIS</h1>
        <%= link_to 'Prendre rendez-vous', contact_path, class: 'btn-nav' %></li><i class="fa-solid fa-arrow-right-long"></i>
      </div>
    </div>
  </div>
</header>
