.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: #546650;
  font-family: $footer-font;
  font-size: 16px;
  color: #F1F1F1F1;
  border: none;
}

.btn-close{
  color: #F1F1F1F1;
}
