.social-media{
  text-align: end;
  position: sticky;
  bottom: 50%;
  z-index: 1000;

  .social-icon {
    margin-top: 10px;
    color: #000;
    cursor: pointer;
    transition: .5s;
    font-size: 25px;
  }
  .fa-instagram{
    border-radius: 20px;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .social-media{
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .social-media{
    display: block;
    margin-right: 35px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .social-media{
    margin-right: 55px;
  }
}
