.nav-container {
  height: 85px;
  font-size: 14px;
  font-weight: 100;
  position: sticky;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

.logo{
  width: 100%;
  .logo-img {
    width: 200px;
    height: 150px;
  }
}

.menu {
  width: 100%;
    display: flex;
    text-align: center;

  .btn-nav {
    width: 25%;
    padding: 40px 20px;
    text-decoration: none;
    color: #494949;

  }
  .btn-nav:hover{
    color: #cbdbc5;
    transition-duration: 500ms;
  }
}
