.nav-container {
  height: 85px;
  font-size: 15px;
  font-weight: 1000;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

.logo{
  width: 100%;
  .logo-img {
    width: 200px;
    height: 150px;
  }
}

.menu {
  width: 100%;
    display: flex;
    text-align: center;

  .btn-nav {
    width: 25%;
    padding: 40px 20px;
    text-decoration: none;
    color: #494949;

    &:hover{
      color: #cbdbc5;
      transition-duration: 500ms;
    }
  }
}
