.header {
  background-image: url("https://res.cloudinary.com/do9ctd3bd/image/upload/v1657121080/Screenshot_2022-07-06_at_16.32.45_syoi3f_zyjquj.png");
  height: 100vh;
}

.nav-container {
  background: #FEFCF9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;

}

.menu {

  ul {
    display: flex;
    list-style: none;
  }
  li{
    margin: 15px;

  }
}
